*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #4a4d4f; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15rem;
  height: 100vh; }

.progress__container {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr min-content 1fr min-content 1fr min-content;
  justify-items: center;
  grid-gap: 0;
  padding: 3rem;
  margin-bottom: 1rem; }
  .progress__container-steps {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: .3rem solid #E3E6E8; }
    .progress__container-steps--active {
      background-color: #295abb; }
  .progress__container-bar {
    background-color: #E3E6E8;
    height: .5rem;
    width: 10rem; }
    .progress__container-bar--active {
      background-color: #295abb; }

.progress__buttons {
  color: #fff; }
  .progress__buttons-btn {
    background-color: #9c9fa1bc;
    border: none;
    border-radius: .3rem;
    padding: .5rem 2rem;
    color: inherit;
    cursor: pointer; }
    .progress__buttons-btn:not(:last-child) {
      margin-right: 1rem; }
  .progress__buttons-active {
    background-color: #295abb; }
